<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<!--Write logs to File  where we want to write error logs-->
		<target name="file" xsi:type="File" fileName="D:\nas31\SendAPI\Logs\SendAPIInfoLog.log" layout="(${longdate}) :: ${level} :: ${ndc} :: ${message} ${exception:format=Type} ${exception:format=Message} ${exception:format=Stack Trace} ${newline}" archiveFileName="D:\nas31\SendAPI\Logs\SendAPIInfoLog.{#}.log" archiveAboveSize="104857600" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30"/>
		<target name="warnfile" xsi:type="File" fileName="D:\nas31\SendAPI\Logs\SendAPIWarnLog.log" layout="(${longdate}) :: ${level} :: ${ndc} :: ${message} ${exception:format=Type} ${exception:format=Message} ${exception:format=Stack Trace} ${newline}" archiveFileName="D:\nas31\SendAPI\Logs\SendAPIWarnLog.{#}.log" archiveAboveSize="104857600" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30"/>
		<target name="errorfile" xsi:type="File" fileName="D:\nas31\SendAPI\Logs\SendAPIErrorLog.log" layout="(${longdate}) :: ${level} :: ${ndc} :: ${message} ${exception:format=Type} ${exception:format=Message} ${exception:format=Stack Trace} ${newline}" archiveFileName="D:\nas31\SendAPI\Logs\SendAPIErrorLog.{#}.log" archiveAboveSize="104857600" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30"/>

	</targets>

	<rules>
		<logger name="InfoLog" minlevel="trace" writeTo="file"/>
		<logger name="WarnLog" minlevel="trace" writeTo="warnfile"/>
		<logger name="ErrorLog" minlevel="trace" writeTo="errorfile"/>
		<!-- add your logging rules here -->

		<!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
	</rules>
</nlog>