<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Extended"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <target name="file" xsi:type="File" fileName="\\RP-LPT-51\nas31\RSign\Sign\logs\RSignLog.log" layout="(${longdate}) :: ${level} :: ${ndc} :: ${message} ${exception:format=Type} ${exception:format=Message} ${exception:format=Stack Trace} ${newline}" archiveFileName="\\RP-LPT-51\nas31\RSign\Sign\logs\RSignLog.{#}.log" archiveAboveSize="104857600" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30"/>
    <target name="emlerrorfile" xsi:type="File" fileName="\\RP-LPT-51\nas31\RSign\Sign\logs\RSignEmailLog.log" layout="(${longdate}) :: ${level} :: ${ndc} :: ${message} ${exception:format=Type} ${exception:format=Message} ${exception:format=Stack Trace} ${newline}" archiveFileName="\\RP-LPT-51\nas31\RSign\Sign\logs\RSignEmailLog.{#}.log" archiveAboveSize="104857600" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30"/>
    <target name="errorfile" xsi:type="File" fileName="\\RP-LPT-51\nas31\RSign\Sign\logs\RSignErrorLog.log" layout="(${longdate}) :: ${level} :: ${ndc} :: ${message} ${exception:format=Type} ${exception:format=Message} ${exception:format=Stack Trace} ${newline}" archiveFileName="\\RP-LPT-51\nas31\RSign\Sign\logs\RSignErrorLog.{#}.log" archiveAboveSize="104857600" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="InfoLog" minlevel="Info" writeTo="file"/>
    <logger name="EmlLog" minlevel="trace" writeTo="emlerrorfile"/>
    <logger name="ErrorLog" minlevel="trace" writeTo="errorfile"/>
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Warn" />
  </rules>
</nlog>